.about {
  width: calc(100% - 10px);
  display: grid;
  grid-template-columns: (70% 30%);
  grid-gap: 10px;
  box-sizing: border-box;

  .write-up {
    .code {
      display: none;
    }
  }

  h1 {
    font-size: 50px;
    color: #08FDD8;
  } 
  .me {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
}

.my-work { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  grid-gap: 20px;

  a:hover {
    color: #1D1D1D;
  }
  
  details {
    width: 100%;
  }
  .card > p {
    color: black;
    margin: 0;
    padding: 0;
  
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
  
  .card > img {
    width: 100%;
    height: auto;
    transition: all .2s ease-in-out;

    &:hover { transform: scale(1.1); }
  }
}


details summary {
  cursor: pointer;
  outline: none !important;
}

details[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: default;
  content: " ";
  z-index: 99;
  background: rgba(27,31,35,0.5);
}

details > div {
  display: grid;
  padding: 10px;
  overflow: scroll;
  width: 80%;
  height: auto;
  max-height: 80%;

  margin: 5vh auto;
  position: fixed;
  top: 10%;
  right: 10%;
  left: 8%;
  
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);

  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  z-index: 999;

  &> img {
    width: 100%;
    
  }
  p {
    color: black;
    margin: 30px;
  }
}

details summary::-webkit-details-marker {
  display:none;
}

.contact {
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  h1 {
    font-size: 50px;
    color: #08FDD8;
  } 

  .upper {
    display: block;
  }

  .social {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    text-align: center;
    a {
      padding: 8px;
      margin: 0;
      display: inline-block;
    }

    .svg {
      width: 20px;
      height: 20px;
      fill: #08FDD8;
    }
  }
}

/* ----------- mobile phones ----------- */

/* Portrait */
@media only screen 
  // and (min-device-width: 250px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){ 
    .my-work {
      padding-top: 30px;
      padding-right: 0px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .about{
      display: flex;
      .write-up {
        .code {
          display: block;
        }
      }
      .me {
        display: none;
      }
    }
}

@media only screen and (max-width: 700px) {
  .about{
    .me {
      img{
        width: 100%;
        height: 50%;
      }
    }
  }
  .contact {
    .skill-description{
      width: 100%;
    }
  }
}




@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}