// body {
//   overflow: hidden;
// }

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #08FDD8;
  position: absolute;
  left: 0;
  z-index: 99;
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 20px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  // float: right;

  // &active {
  //   transform: translateX(-250px);
  // }

  &__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: absolute;
    left: 5%;
  }

  &__inner {
    @include hamburger-line;
    // top: 10%;
    // transform: translateY(-50%);
    transition: background-color 0.3s 0.1s ease-in-out;
  }

  &__inner::before,
  &__inner::after {
    @include hamburger-line;
    content: "";
    transition: transform 0.3s 0.1s ease-in-out;
  }

  &__inner::before {
    top: -10px;
  }

  &__inner::after {
    top: 10px;
  }

  &active &__inner {
    transform: translateX(200px);
    background-color: transparent;
  }

  &active &__inner::before {
    transform: translateY(10px) rotate(45deg);
  }

  &active &__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.navigation {
  z-index: 999;
  display: none;
  width: 200px;
  background-color: rgb(8, 253, 216);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-250px);

  a {
    color: #1D1D1D;
  }

  &active {
    transform: translateX(0);
  }

  &__list {
    list-style: none;
    margin-top: 50px;
  }

  &__item {
    margin: 20px;
    padding: 4px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  z-index: 9;
  background: rgba(27,31,35,0.5);
}

@media only screen and (max-width: 600px) {
  .hamburger {
      display: inline-block;
  }
  .navigation {
    display: block;
  }
}