.menu {
  width: 60px;
  background: #181818;
  display: grid;

  .mainnav{
    display: block;
    text-align: center;
    padding-top: 80px;

    .links {
      font-size: 22px;
      text-decoration: none;

      &:hover {
        .svg {
          opacity: 0;
        }
        span{
          opacity: 1;
        }
      }

      span {
        opacity: 0;
        color: #08FDD8;
        position: relative;
        top: -25px;
        font-size: 14px;
        transition: all .5s;
      }

      .svg {
        width: 30px;
        height: 30px;
        fill: #494949;
        transition: all .5s;
      }
      .svg:hover {
        fill: #08FDD8;
      }
    }
  }

  .social {
    align-self: flex-end;
    padding: 0;
    text-align: center;
    margin: 0;
    a {
      padding: 5px;
      margin: 0;
      display: block;
    }

    .svg {
      width: 17px;
      height: 17px;
      fill: #494949;
    }
  }

  .svg:hover {
    fill: #08FDD8;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
      display: none;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .menu {
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      background: #181818;
      display: flex;
      align-items: center;
      padding-left: 20px;

      .mainnav {
        display: flex;
        justify-content: space-between;
        padding: 0px;

        .links{
          span {
            position: relative;
            top: -10px;
            left: -25px;
          }
        }
      }

      .social {
        height: 100%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        a {
          
          margin: 0;
          display: inline-block;
        }
      }
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .menu {
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      background: #181818;
      display: flex;
      align-items: center;
      padding-left: 20px;

      .mainnav {
        display: flex;
        justify-content: space-between;
        padding: 0px;

        .links{
          span {
            position: relative;
            top: -10px;
            left: -25px;
          }
        }
      }

      .social {
        height: 100%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        a {
          
          margin: 0;
          display: inline-block;
        }
      }
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .menu {
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      background: #181818;
      display: flex;
      align-items: center;
      padding-left: 20px;

      .mainnav {
        display: flex;
        justify-content: space-between;
        padding: 0px;

        .links{
          span {
            position: relative;
            top: -10px;
            left: -25px;
          }
        }
      }

      .social {
        height: 100%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        a {
          
          margin: 0;
          display: inline-block;
        }
      }
    }
}