.homepage {
  opacity: 1;
  animation:preloader 3s linear;

  .person {
    display: flex;
    justify-content: center;
    align-items: center;

    .png {
      animation:h 8s linear infinite;
    }
  }

  .intro {
    display: grid;
    padding-left: 15%;
    
    
    h1 {
      align-self: flex-end;
      font-size:50px;
      font-weight: bold;
      
      span{
        display:inline-block;
        letter-spacing: 4px;
        animation-duration: .8s;
        animation-fill-mode: both;
        animation-iteration-count: 1;

        &:nth-of-type(6), &:nth-of-type(16){
          &::after {
            content: '-';
            visibility: hidden;
          }
        }

        &:hover{
          animation-name: rubberBand;
          color: #4c95af;
        }
      }
    }
    h2 {
      color: #8d8d8d;
      font-weight: 400;
      font-size: 14px;
      font-family: "Open Sans",sans-serif;
      letter-spacing: 3px;
    }
  }
}

@keyframes h{
  0%{transform:translate(0, 0);}
  50%{transform:translate(50px, 0px);}
  100%{transform:translate(0, 0);}
}

// @keyframes preloader{
//   0%{
//     opacity: 0.25;
//     transform:translate(-100vw, 0);}
//   50%{
//     opacity: 0.5;
//     transform:translate(-50vw, 0);}
//   100%{
//     opacity: 1;
//     transform:translate(0, 0);}
// }

@keyframes v{
  0%{transform:translate(0, 0);}
  20%{transform:rotate(360deg);}
  50%{transform:scale(2);}
  80%{transform:translate(0, 0);}
  100%{transform:translate(0, 0);}
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
